hr {
  background-color: red;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.fader {
  animation-name: fadeIn;
  animation-duration: 3s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 5;
  }
}
