hr {
  background-color: red;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.fader {
  animation-name: fadeIn;
  animation-duration: 3s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 5;
  }
}
